// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-toolbar-color: #fff;
  --ion-toolbar-background: #192a56;
  --ion-card-background: #84bdff;
}