<ion-header>
  <ion-toolbar class="header">
    <ion-menu-button slot="start">
    </ion-menu-button>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-card>
    <ion-card-title class="ion-padding-start">Awesome Title</ion-card-title>
    <ion-card-content class="ion-margin-top" [ngClass] = "{'cardContent': below}">
      <app-vertical-bar-chart [view]="view" [legendPosition] = "legendPosition"></app-vertical-bar-chart>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-title id="teste">Bem vindo!</ion-title>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <app-pie-chart></app-pie-chart>
    </ion-card-content>
  </ion-card>

</ion-content>
